@media screen and (max-width: 768px) {
  .navigationBar a:not(:first-child) {display: none;}
  .navigationBar a.icon {float: right; display: block;}
  a.icon {padding: 16px;}
  .nav-logo {display: none;}
  #nav-logo-i {display: none;}
  #introduction.large {display: none;}
  .main-anchor {height: 50%;}
  .main-anchor:active {display: none;}
  .fade-Border {display: none;}
  #information {margin-top: 5%; padding: 10px; border-bottom: 2px solid rgb(169, 11, 31); width: 90%;}
  .lower-container {padding: 4px;}
  .lower-info {width: 100%;float: left; display: inline-block; padding: 18px; margin-top: 2%; border-radius: 0; transform: skew(0deg);  background-color: white; color: black; height: 100%;}
  #border-top.lower-info {border-top: 2px solid rgb(169,11,31);}
  .block {display: none;}
  .gallery {height: auto;}
  .shape {display: none;}
  .brand {display: none;}
  .background {background: none;}
  .information {width: 100%;}
  .hide-on-lg {display: none !important;}
  .show-on-mob {display: block !important; width: 100%; height: auto; padding: 5px; margin-top: 1.5em;}
  #travel-background {display: none;}
@media screen and (max-width: 768px) {
  .navigationBar.responsive {position: relative;}
  .navigationBar.responsive .icon {position: absolute; right: 0; top: 0;}
  .navigationBar.responsive a {float: none; display: block; text-align: left;}
}
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

@media (max-width: 768px) {
  .large-image-grid .tile {width: 50%;}
}

@media (max-width: 700px) {
  .large-image-grid .tile {width: 100%; border-radius: 0; margin: 0;}
}

@media screen and (max-width: 1024px) {
  .lower-info {transform: skew(0deg);}
}
